<div class="row">
    <div class="col-xs-10 col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3 col-xs-offset-1">
        <form role="form" ng-submit="insert()">
            <div class="form-group">
                <label>Input for question 1:</label>
                <input ng-model="item.que1" type="text" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Input for question 2:</label>
                <input ng-model="item.que2" type="select" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Input for question 3:</label>
                <input type="date" ng-model="item.date" class="form-control" required>
            </div>
            <div class="form-group">
                <label> Rate your urgency :</label>
                <div id="star-rating">
                    <input type="radio" name="example" class="rating" value="1" />
                    <input type="radio" name="example" class="rating" value="2" />
                    <input type="radio" name="example" class="rating" value="3" />
                    <input type="radio" name="example" class="rating" value="4" />
                    <input type="radio" name="example" class="rating" value="5" />
                </div>
            </div>
            <div class="btn-group btn-group-justified">
                <button type="submit" id="popup" class="btn btn-primary">Submit</button>
                <button type="button" id="popup" ng-click="clearStoragedata()" class=" btn btn-primary">clear</button>
            </div>
        </form>
    </div>
</div>
<div class="my-modal" ng-model="isModalOpen" ng-class={'open':isModalOpen} = 'false'>
    <p>saved!</p>
    <button class="popup_button" ng-click="showIssues()">Close</button>
</div>
